.name{
    border: 3px dotted pink;
    display: block; 
    align-content: center;
    /* flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 300px; */
    margin: 1 auto; 
    padding: 0;
    

}
.navbar {
    display: flex;
    flex-wrap: wrap;
    

    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.navbar li {
    list-style-type: none;

}

.navitem a {
    color: rgb(98, 0, 255);
    text-decoration:plum;
    padding: 10px 20px;
}

.navitem a:hover {
    background-color: #555;
}

/* body {

}

.experience {

}

h1{
    
} */