html {
    scroll-behavior: smooth;
  }
  
  ul {
    list-style-type: none;
  }
  
  .name {
    border: 3px dashed #ffb6c1; /* pastel pink */
    display: block;
    text-align: center;
    margin: 1em auto;
    padding: 16px;
    font-size: 1.5em;
    color: #333;
    background-color: #fff0f5; /* pastel lavender blush */
  }
  
  .navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: #add8e6; /* pastel light blue */
  }
  
  .navbar li {
    list-style-type: none;
  }
  
  .navitem a {
    color: #8a2be2; /* blue violet */
    text-decoration: none;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    background-color: #f0f8ff; /* alice blue */
  }
  
  .navitem a:hover {
    background-color: #dda0dd; /* pastel plum */
  }
  
  .list {
    font-size: 14px;
  }
  
  .section1,
  .section2,
  .section3,
  .section4,
  .section5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin: 20px 0;
    background-color: #f0f8ff; /* alice blue */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .description {
    text-align: center;
    max-width: 600px;
    margin: 10px auto;
  }
  
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom, #ffdab9, #00ffff);
    color: #333;
    margin: 0;
    padding: 20px;
  }
  
  