html {
    scroll-behavior: smooth;

}

ul {
    list-style-type: none;
}

.name{
    border: 3px dotted pink;
    display: block; 
    align-content: center;
    margin: 1 auto; 
    padding: 16px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    align-self: stretch;
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.navbar li {
    list-style-type: none;

}

.navitem a {
    color: rgb(98, 0, 255);
    text-decoration:plum;
    padding: 10px 20px;
}

.navitem a:hover {
    background-color: #555;
}


.list {
    font-size: 14px;
}

body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(purple, blue, green);
    background-color: chocolate;
    color: aliceblue;
}
